<article class="bcls-article">
  <h1>ライブイベントでサポートされるエンコーダ</h1> <summary>このトピックの目的は、ライブストリームイベントを実施する際のハードウェアエンコーダーの設定に関するガイドラインを提示することです。ライブ ストリーミング ビデオを配信するためにブライトコーブから利用できるすべてのオプションのリストについては、{% if site.product_short == &quot;Video Cloud&quot; または site.product_short == "Beacon" または site.product_short == "CorpTV" %} を参照してください。<a href="/live/get-started/delivering-live-streams.html">ライブ ストリームの配信</a>. {% endif %} {% if site.product_short == &quot;Live&quot; %}<a href="/get-started/delivering-live-streams.html">ライブ ストリームの配信</a>. {% endif %} </summary> <section class="bcls-section">
    <p>以下は、一般的にBrightcoveLiveで動作することが知られているエンコーダのリストです。 <strong><em>他のエンコーダーも動作する可能性があります</em></strong>;このリストには、特にテストしたエンコーダが含まれています。</p> <aside class="bcls-aside bcls-aside--information">また、<em>サポートされています</em>すべての機能がサポートされているわけではありません。特定の機能（キューポイントの送信など）は、エンコーダによって異なります。</aside>
    <ul>
      <li><a href="http://www.xsplit.com/">xSplit </a></li>
      <li><a href="http://obsproject.com/">OBS </a></li>
      <li><a href="http://www.telestream.net/wirecast/overview.htm">Wirecast </a></li>
      <li><a href="http://www.capellasystems.net/products/cambria-live/">カンブリアライブ</a></li>
      <li><a href="https://liveshell.cerevo.com/">ライブシェル</a></li>
      <li><a href="https://www.elemental.com/products/aws-elemental-appliances-software/#elemental-live">AWS エレメンタルライブ</a></li>
      <li><a href="https://www.haivision.com">ハイビジョン</a></li>
      <li><a href="http://www.liveu.tv/lu200">LiveU </a></li>
      <li><a href="http://www.matrox.com/video/en/products/monarch_hd/">マトロックス</a></li>
      <li><a href="https://www.newtek.com">NewTek </a></li>
      <li><a href="https://www.teradek.com">テラデック</a></li>
    </ul>   </section></article>