<article class="bcls-article">
  <h1>Supported Encoders for Live Events</h1>
  <summary>This topic is intended to provide some guidelines for hardware encoder settings when conducting a live stream event. For a list of all the options available from Brightcove for delivering live streaming video, see 
   {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}   
      <a href="/live/get-started/delivering-live-streams.html">Delivering Live Streams</a>.
      {% endif %}
      {% if site.product_short == "Live" %}
      <a href="/get-started/delivering-live-streams.html">Delivering Live Streams</a>.
      {% endif %}
      </summary>
  <section class="bcls-section">
    <p>The following is a list of encoders that are generally known to work with Brightcove Live. <strong><em>Other encoders may also work</em></strong>; this list contains the encoders that we have specifically tested.</p>
    <aside class="bcls-aside bcls-aside--information">Also note that <em>supported</em> does not mean that every feature is supported. Specific capabilities (such as sending cuepoints) vary among different encoders.</aside>
    <ul>
      <li><a href="http://www.xsplit.com/">XSplit</a></li>
      <li><a href="http://obsproject.com/">OBS</a></li>
      <li><a href="http://www.telestream.net/wirecast/overview.htm">Wirecast</a></li>
      <li><a href="http://www.capellasystems.net/products/cambria-live/">Cambria Live</a></li>
      <li><a href="https://liveshell.cerevo.com/">Liveshell</a></li>
      <li><a href="https://www.elemental.com/products/aws-elemental-appliances-software/#elemental-live">AWS Elemental Live</a></li>
      <li><a href="https://www.haivision.com">Haivision</a></li>
      <li><a href="http://www.liveu.tv/lu200">LiveU</a></li>
      <li><a href="http://www.matrox.com/video/en/products/monarch_hd/">Matrox</a></li>
      <li><a href="https://www.newtek.com">NewTek</a></li>
      <li><a href="https://www.teradek.com">Teradek</a></li>
    </ul>
  </section>
</article>
