<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section id="top" class="bcls-section">
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="5810384996001">&nbsp;</div>
  </section>
  <section class="bcls-section">
    <h2 id="Overview">Overview</h2>
    <p>The Live module provides the ability to create video clips from completed events. Clips can also be created while a live event is in progress. There are several reasons you might want to create a clip:</p>
    <ul>
      <li>To create a short, teaser clip that can be posted to social media</li>
      <li>To limit the length of a video that you want to post (most platforms limit the length of videos)</li>
      <li>You have found that shorter videos perform better on social media</li>
    </ul>
    <p>Clipping can be done with all types of live events and it can also be done <em>during</em> and <em>after</em> the live stream using the Live API or the Live Module.</p>
    <p>Both the Live Module and the <a href="https://apis.support.brightcove.com/live-api/guides/live-api-creating-vod-clips.html">Live API</a> support creating clips from encrypted or DRM-protected jobs.</p>
    <h3>Notes</h3>
    <ul>
      <li>Legacy ingest profiles no longer support live clipping. To create a video clip from a live stream, make sure your account is enabled for Dynamic Delivery and use a Dynamic Delivery ingest profile.</li>
      <li>VOD clips are incompatible with Context Aware Encoding (CAE) ingest profiles. Clips are automatically processed using the account default ingest profile, so if the default is a CAE profile, the clip creation will fail.</li>
      <li>Clips can only be created within 7 days of the event end. Afterwards, the <strong>Create Clip</strong> button will be disabled. If the event is longer than 24 hours, only the last 24 hours are clippable.</li>
      <li>For recurring events: If during the 7 days after an event the event is reactivated, the clipping will only be available for the content of the most recent event. There will be no way to create clips from the prior event, even if it's under 7 days after the last event was deactivated.</li>
      <li>If you stop and restart a channel for a new live stream, the previous live stream information for clipping may be overwritten.</li>
      <li>Clips will be frame-accurate <strong>provided that the encoder is sending SMPTE timecodes for the stream</strong> - otherwise, they will be accurate within a couple of frames. Note that to provide clips as quickly as possible, a segment-accurate clip is first created, and replaced by a frame-accurate clip as soon as it is available.</li>
      <li>Clips with a start time less than 10 seconds into the stream cannot be created.</li>
      <li>Clipping is not supported when using the Safari browser.</li>
    </ul>
    <aside class="bcls-aside bcls-aside--information">Note:  When you create a recurring event, a video is automatically created for it in the Media module. Do <strong>not</strong> delete this video, as it will be needed every time the event reactivated.</aside>
  </section>
  <section class="bcls-section">
    <h2 id="Navigating_the_clip_editor">Navigating the clip editor</h2>
    <p>To open the clip editor, open the Live module, click on an event name and then click <strong>Create Clip</strong> in the left navigation. The clip editor will open.</p>
    <p>Note that all times in the clipping interface are based around the UTC time that the video data was received by Brightcove. This is a necessary adjustment to account for streams that have exceeded the VOD window (run more than 24 hours). When a video has exceeded that window, the time we get back from the player can no longer reliably be used to generate clips.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-clip-editor-numbered.png" /></figure>
    <p>The clip editor is organized as follows:</p>
    <ul>
      <li>A - <a href="#preview">Preview player</a></li>
      <li>B - <a href="#playback_control">Playback control buttons</a></li>
      <li>C - <a href="#clip_time">Clip time</a></li>
      <li>D - <a href="#clipping">Clipping buttons</a></li>
      <li>E - <a href="#preview_clip">Preview clip button</a></li>
      <li>F - Save button</li>
      <li>G - <a href="#playhead">Playhead</a></li>
      <li>H - <a href="#focus_timeline">Focus timeline</a></li>
      <li>I - <a href="#context_timeline">Context timeline</a></li>
      <li>J - <a href="#zoom_buttons">Zoom buttons</a></li>
      <li>K - <a href="#list_of_clips">List of clips</a></li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="Creating_a_clip">Creating a clip</h2>
    <p>When creating clips, the highest quality rendition from the selected <strong>Live Ingest Profile</strong> is used as the source for the clip. The default uploading ingest profile for the account is used when creating renditions for the clip.</p>
    <p>Follow these steps to create a clip.</p>
    <ol class="bcls-tasklist-restart">
      <li>Using the clipping buttons or shortcut keys, set the start and end points for the clip.
        <figure><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-clip-portion.png" /></figure>
      </li>
      <li>Click <strong>Save</strong>.</li>
      <li>Enter the clip video properties.
        <ul>
          <li><strong>Clip Name</strong> - Name of the clip</li>
          <li><strong>Short Description</strong> - Description of the clip</li>
          <li><strong>Tags</strong> - Tags to associate with the clip</li>
          <li><strong>Reference ID</strong> - Reference ID to assign to the clip</li>
        </ul>
      </li>
      <li>Enter any required custom field values.</li>
      <li>Check <strong>Remove Source Ad Break Content</strong> to remove ad breaks triggered within the clip, keeping only program content.  This option will only appear when the stream is SSAI enabled.</li>
      <li>Check <strong>Create clip using fast VOD pipeline</strong> to generate the clip more quickly. This option speeds up the turn around time by creating a single <strong>segment-accurate</strong> rendition..  The system will then replace this clip with a <strong>frame-accurate</strong> clip  with the full rendition set when it is available.
        <figure><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-create-clip-dialog.png" /></figure>
      </li>
      <li>Enter any required custom fields that are displayed.</li>
      <li>Click <span class="button-blue">Create Clip</span>. The transcoding process for the clip will begin. Clips are transcoded using the default ingest profile for the account.</li>
    </ol>
    <p>A list of all clips will appear below the clip editor. Clicking the <strong>Clip Name</strong> will open the clip in the Media module in another browser tab. Click <strong>Publish to Social</strong> to open the clip in the social module to publish it to a social media account. 
      {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
      For information on publishing videos using the Social module, see <a href="/social/publishing-videos-social-media-platforms.html">Publishing Videos to Social Media Platforms</a>.
      {% endif %}
      {% if site.product_short == "Live" %}
      For information on publishing videos using the Social module, see <a href="https://studio.support.brightcove.com/social/publishing-videos-social-media-platforms.html">Publishing Videos to Social Media Platforms</a>.
      {% endif %} </p>
  </section>
  <section class="bcls-section">
    <h2 id="preview">Preview player</h2>
    <p>The preview player is used to preview the clip. When the event is in progress and the clip editor is opened, the clip will begin to play from the "safe live point" which is approximately 3 segments before the end. Note that not all browsers support autoplay.</p>
  </section>
  <section class="bcls-section">
    <h2 id="playback_control">Playback control buttons</h2>
    <p>The playback control buttons are used to control to playback of the clip inside of the preview player.</p>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th width="107">Button</th>
          <th width="430">Description</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-start-button.png" /></td>
          <td>Jumps to start of video</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-back15-button.png" /></td>
          <td>Jumps the playhead back 15 seconds</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-play-button.png" /></td>
          <td>Starts video playback from the playhead position</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-forward15-button.png" /></td>
          <td>Jumps the playhead forward 15 seconds</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-end-button.png" /></td>
          <td>Jumps to end of video</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-live-button.png" /></td>
          <td>Jumps to live point in the video (only available when the live stream is active)</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="bcls-section">
    <h2 id="clip_time">Clip time</h2>
    <p>The clip time displays the current UTC time for the playhead and the clippable time. Clicking on the UTC link will switch to the local time display.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-clip-time.png" /></figure>
  </section>
  <section class="bcls-section">
    <h2 id="clipping">Clipping buttons</h2>
    <p>The clipping buttons are used to clip the desired portion of the source video.</p>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th width="124">Button</th>
          <th width="709">Description</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-go-cue-in-button.png" /></td>
          <td>Jumps to cue in point of the video</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-set-cue-in-button.png" /></td>
          <td>Sets the starting point of the clip. The start point can also be set by dragging the handle at the beginning of the focus timeline.</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-set-cue-out-button.png" /></td>
          <td>Sets the ending point of the clip. The end point can also be set by dragging the handle at the end of the focus timeline.</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-go-cue-out-button.png" /></td>
          <td>Jumps to the cue out point of the video</td>
        </tr>
      </tbody>
    </table>
    <p>The cue in and cue out points are the start and end of a clip. Each of these points is represented on the focus timeline with a draggable handle, and the time between the points is filled-in green. The points are also represented in the context timeline as the left and right edges of the green rectangle indicating the clip space.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-cue-in-out-example.png" /></figure>
  </section>
  <section class="bcls-section">
    <h2 id="preview_clip">Preview clip</h2>
    <p>Click the preview clip button to play the clip.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-preview-clip-button.png" /></figure>
  </section>
  <section class="bcls-section">
    <h2 id="playhead">Playhead</h2>
    <p>The playhead is an indicator of where in time the player is playing. The playhead is represented in the focus timeline by a red line with a red circle on top and with a red vertical line in the context timeline.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-playhead.png" /></figure>
    <p>On the focus timeline, the playhead may be dragged to scrub through the video. Double-clicking on the focus timeline will move the playhead to that point. The playhead can also be used to set cue in and cue out points using the cue-in/cue-out buttons or by using the keyboard shortcuts.</p>
  </section>
  <section class="bcls-section">
    <h2 id="focus_timeline">Focus timeline</h2>
    <p>The focus timeline is the top timeline in the interface.</p>
    <p>The playhead is an indicator of where in time the player is playing. The playhead is represented in the focus timeline by a red line with a red circle on top.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-focus-timeline.png" /></figure>
    <p>The green shaded area represents the selected clipping time, where the edges are also draggable. Please note that the UI pre-selects the clip duration according to the total available clipping time. For example, in events greater than 10 minutes, the last 10 minutes will be pre-selected, similarly, for 30 and 60 minutes.</p>
  </section>
  <section class="bcls-section">
    <h2 id="context_timeline">Context timeline</h2>
    <p>The context timeline is the bottom timeline in the clip editor. The context timeline shows the entire duration of the video, regardless of zoom level, the selected area of the clip, the location of the playhead, and the current focus viewport. The timeline is indicated with a red line.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-context-timeline.png" /></figure>
  </section>
  <section class="bcls-section">
    <h2 id="zoom_buttons">Zoom buttons</h2>
    <p>The zoom buttons are used to zoom in or out on the focus timeline.</p>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th>Button</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-zoom-in-button.png" /></td>
          <td>Zooms in the focus timeline. The focus viewport (white box) in the context timeline will show the area of the clip that is being displayed in the focus timeline.</td>
        </tr>
        <tr>
          <td><img alt="" src="/assets/images/s-live-img/live-module/clipping/node18551-zoom-out-button.png" /></td>
          <td>Zooms out the focus timeline. The focus viewport (white box) in the context timeline will show the area of the clip that is being displayed in the focus timeline.</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="bcls-section">
    <h2 id="list_of_clips">List of clips</h2>
    <p>A list of clips will appear below the clip editor. Click <strong>Publish to Social</strong> to publish the clip to one of your social destinations using Brightcove Social. 
      {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
      For information on publishing videos using the Social module, see <a href="/social/publishing-videos-social-media-platforms.html">Publishing Videos to Social Media Platforms</a>.
      {% endif %}
      {% if site.product_short == "Live" %}
      For information on publishing videos using the Social module, see <a href="https://studio.support.brightcove.com/social/publishing-videos-social-media-platforms.html">Publishing Videos to Social Media Platforms</a>.
      {% endif %} </p>
  </section>
  <section class="bcls-section">
    <h2 id="Keyboard_shortcuts">Keyboard shortcuts</h2>
    <p>Keyboard shortcuts can also be used to play and create a clip from the video. The following keyboard shortcuts are available.</p>
    <h3>Playback controls</h3>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th width="177">Press this key</th>
          <th width="781">To do this</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td><code translate="No">space, k, down</code></td>
          <td>Play / Pause</td>
        </tr>
        <tr>
          <td><code translate="No">I</code></td>
          <td>Go to cue-in</td>
        </tr>
        <tr>
          <td><code translate="No">O</code></td>
          <td>Go to cue-out</td>
        </tr>
        <tr>
          <td><code translate="No">p</code></td>
          <td>Play preview</td>
        </tr>
        <tr>
          <td><code translate="No">j, left</code></td>
          <td>Jump back 1 frame</td>
        </tr>
        <tr>
          <td><code translate="No">J, shift + left</code></td>
          <td>Jump 1 second back</td>
        </tr>
        <tr>
          <td><code translate="No">l, right</code></td>
          <td>Jump 1 frame forward</td>
        </tr>
        <tr>
          <td><code translate="No">L, shift + right</code></td>
          <td>Jump 1 second forward</td>
        </tr>
        <tr>
          <td><code translate="No">s</code></td>
          <td>Jump to start</td>
        </tr>
        <tr>
          <td><code translate="No">e</code></td>
          <td>Jump to end / live</td>
        </tr>
      </tbody>
    </table>
    <h3>Timeline controls</h3>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th width="177">Press this key</th>
          <th width="781">To do this</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td><code translate="No">i</code></td>
          <td>Set cue-in</td>
        </tr>
        <tr>
          <td><code translate="No">o</code></td>
          <td>Set cue-out</td>
        </tr>
        <tr>
          <td><code translate="No">+</code></td>
          <td>Zoom in</td>
        </tr>
        <tr>
          <td><code translate="No">-</code></td>
          <td>Zoom out</td>
        </tr>
        <tr>
          <td><code translate="No">u</code></td>
          <td>Pan timeline to playhead</td>
        </tr>
        <tr>
          <td><code translate="No">?</code></td>
          <td>Open help modal</td>
        </tr>
      </tbody>
    </table>
  </section>
  <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> 
</article>
