<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p> By default, live streams talk to the Brightcove Live API to stream your event. A new system to manage Playback Rights and Restrictions sits in front of the Live API and provides playback authorization using DRM licenses DRM licenses or AES-128 (HLSe) encryption. </p>
    <p>Live streams use <a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/overview-playback-restrictions.html#Runtime_restrictions">runtime restrictions</a>, so you will need a JSON Web Token (JWT) with specific permissions (claims) for your stream request.</p>
    <p>The token is used when requesting the video license, once the video has been loaded to the player and the source has been selected.</p>
    <p>To use Playback Restrictions with live streams, your account must be enabled for either studio-grade DRM or AES-128 (HLSe) encryption.</p>
    <aside class="bcls-aside bcls-aside--information">With HLSe content, when the player changes rendition, due to improved connectivity or after the first segment is loaded, a new license request is made.</aside>
    <p>If you are not familiar with this feature, see the <a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/overview-playback-restrictions.html">Overview: Brightcove Playback Restrictions</a> document.</p>
  </section>
  <section class="bcls-section">
    <h2 id="Requirements">Requirements</h2>
    <p>This feature is a paid add-on for your account. Contact your account manager to enable the following:</p>
    <ul>
      <li>Enable your account for either DRM or AES-128 (HLSe) encryption.</li>
      <li>
        <p>Enable your account for Playback Rights (EPA).</p>
        <aside class="bcls-aside bcls-aside--warning">Currently, enabling your account for Playback Rights (EPA) will impact your ability to do live clipping.</aside>
      </li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="Workflow">Workflow</h2>
    <p>To use Playback Restrictions with a live event, follow these steps:</p>
    <ol class="bcls-tasklist">
      <li><a href="#Define_Playback_Rights">Define Playback Rights</a></li>
      <li><a href="#Create_a_live_event_with_Playback_Restrictions">Create a live event with Playback Restrictions</a></li>
      <li><a href="#Publish_the_live_event">Publish the live event</a></li>
    </ol>
    <p>Alternatively, you can use the Brightcove APis to create the live event and associate Playback Restrictions. For details, see the <a href="https://apis.support.brightcove.com/live-api/guides/live-playback-restrictions.html">Playback Restrictions with Live Streams</a> document.</p>
  </section>
  <section class="bcls-section">
    <h2 id="Define_Playback_Rights">Define Playback Rights</h2>
    <p>Brightcove's Playback Rights Management Service allows you to manage video playback based on the following:</p>
    <ul>
      <li>Geography</li>
      <li>Domain</li>
      <li>Proxy</li>
      <li>Schedule dates</li>
    </ul>
    <p>Here are the steps to define Playback Rights in Studio:</p>
    <ol class="bcls-tasklist-restart">
      <li>Review the validation diagrams for Playback Rights in the <a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/implementing-playback-rights.html">Implementing Playback Rights</a> document.</li>
      <li>In  Studio, in the primary navigation click <strong>Admin &gt; Playback Rights</strong>. </li>
      <li>To create a new right, click <span class="button-blue">New Playback Rights</span>.
        <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="Manage playback rights" src="/assets/images/s-live-img/live-module/playback-restrictions/manage-playback-rights.png" /> </figure>
      </li>
      <li>Add a <strong>Playback Rights Name</strong> and click <span class="button-blue">Save</span>.</li>
      <li>In the left navigation, select each category and edit changes.
        <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="Playback rights detail" src="/assets/images/s-live-img/live-module/playback-restrictions/playback-rights-detail.png" /> </figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
      <li>To edit a Playback Right, click on the <strong>Name</strong> link.</li>
      {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
      <li>For details, see the <a href="/admin/managing-playback-rights.html">Managing Playback Rights</a> document.</li>
      {% endif %}            
      {% if site.product_short == "Live" %}
      <li>For details, see the <a href="https://studio.support.brightcove.com/admin/managing-playback-rights.html">Managing Playback Rights</a> document.</li>
      {% endif %}
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="Create_a_live_event_with_Playback_Restrictions">Create a live event with Playback Restrictions</h2>
    <p>First, use the <strong>Live</strong> module to create a live event with Playback Restrictions. Then, associate a defined Playback Right with the live event using the <strong>Media</strong> module and the Video ID generated during the live job creation.</p>
    <p>To create a Live Event, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Open the <strong>Live</strong> module.</li>
      <li>From the <strong>Manage Events</strong> page click <span class="button-blue">Create Event</span>.</li>
      <li>Enter the event data as needed. For details, see the <a href="creating-and-managing-live-events-using-live-module.html">Creating and Managing Live Events using the Live Module</a> document.</li>
      <li>Expand the <strong>Advanced Options</strong> section.</li>
      <li>For <strong>Content Encryption</strong>, select either <strong>AES-128</strong> or <strong>Digital Rights Management (DRM)</strong>.
        <ul>
          <li><strong>AES-128</strong> - Secures the live HLS outputs using AES-128 encryption. If this option is selected, you must enter your <strong>Encryption Key</strong>. The key must be 32 hexadecimal characters. For best results, use a <a href="https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx">key generator</a>, choosing the <code translate="No">128-bit</code> and <code translate="No">Hex</code> options.  The encryption key value is only entered in the Live module, it is not used as part of your encoder settings.
            <aside class="bcls-aside bcls-aside--information">Note: When using this option, you should not send an encrypted stream to Brightcove. Configure your encoder as you normally would. Selecting this option will encrypt the HLS output streams sent from Brightcove Live.</aside>
            <aside class="bcls-aside bcls-aside--information">Note: Clips can't be created from encrypted live streams.</aside>
          </li>
          <li><strong>Digital Rights Management (DRM)</strong> - Secure Premium content stream with Digital Rights Management technologies.
            {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}}        
            For details, see the <a href="/live/general/live-drm.html">Live DRM</a> document.
            {% endif %}
            {% if site.product_short == "Live" %}
            For details, see the <a href="/general/live-drm.html">Live DRM</a> document.
            {% endif %}
            <ul>
              <li>HLS + <a href="https://developer.apple.com/streaming/fps/">FairPlay</a></li>
              <li>HLS (fMP4) + Widevine Modular</li>
            </ul>
            <aside class="bcls-aside bcls-aside--information"> Your Live account must be enabled first by Brightcove Support in order to use DRM. To publish a DRM-enabled event, it is necessary to create and use a DRM enabled player v6.37.1 or greater.</aside>
          </li>
        </ul>
      </li>
      <li>To use Playback Restrictions, select <strong>Enable Playback Restrictions</strong>. For details, see the <a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/overview-playback-restrictions.html">Overview: Brightcove Playback Restrictions</a> document.
        <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="Enable Playback Restrictions" src="/assets/images/s-live-img/live-module/playback-restrictions/enable-restrictions.png" /> </figure>
      </li>
      <li>Enter any additional event details.</li>
      <li>Click <strong>Create Event</strong>.</li>
      <li>In the Live <strong>Control Room</strong>, click the <strong>Video ID</strong> associated with the event.
        <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="Event Video ID" src="/assets/images/s-live-img/live-module/playback-restrictions/event-video-id.png" /> </figure>
      </li>
      <li>You will be redirected to the <strong>Media</strong> module for this video ID.</li>
      <li>In the <strong>Playback Restrictions</strong> section, select the Playback Restriction that you defined in the <a href="#Define_playback_rights">Define Playback Rights</a> section.
        <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="Assign Playback Restriction" src="/assets/images/s-live-img/live-module/playback-restrictions/assign-playback-right.png" /> </figure>
      </li>
      <li>In the Admin module, you can edit the Playback Right after it has been assigned to an event.</li>
      {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
      <li>Start streaming your live event. For details, see the <a href="/live/get-started/index.html">Getting Started</a> index page.</li>
      {% endif %}
      {% if site.product_short == "Live" %}
      <li>Start streaming your live event. For details, see the <a href="/get-started/index.html">Getting Started</a> index page.</li>
      {% endif %}
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="Publish_the_live_event">Publish the live event</h2>
    <p>Live streams with Playback Restrictions require a JSON Web Token (JWT) with specific permissions (claims) for your stream request.</p>
    <p>To publish a live stream with Playback Restrictions, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>
        <p>Create a JSON Web Token (JWT) and register the public key with Brightcove.</p>
        <p>For details, see the <a href="https://general.support.brightcove.com/developer/create-json-web-token.html">Creating a JSON Web Token (JWT)</a> document.</p>
      </li>
      <li>In  Studio, return to the <strong>Live</strong> module.</li>
      <li>In the left navigation, select <strong>Publish and Embed</strong>.</li>
      <li>In the <strong>Live Player Options</strong> section, select your player configured in the previous step. </li>
      <li>
        <p>Copy the <strong>Advanced Embed Code</strong> and paste it into your HTML page.</p>
        <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="Player embed code" src="/assets/images/s-live-img/live-module/playback-restrictions/embed-code.png" /> </figure>
      </li>
      <li>Create a custom script with the Advanced embed code.
        <p>The JWT token is passed with the playback request. If the token is invalid or expired, access to the content will be restricted. The player must be configured to use the token.</p>
        <p> To configure the Brightcove web player, see the <a href="https://player.support.brightcove.com/playback/playback-restrictions-with-bcp.html#Using_Playback_Rights">Playback Restrictions with Brightcove Player</a> document. </p>
      </li>
      <li>Confirm playback in your web page.</li>
      <li>Confirm that playback can be blocked by changing the settings for the Playback Right assigned to the video (live event).</li>
    </ol>
  </section>
</article>
