<h1>{{page.title}}</h1> <article class="bcls-article"> <summary>{{page.description}}</summary> <section class="bcls-section">
    <h2 id="Introduction">はじめに</h2>
    <p> デフォルトでは、ライブストリームはBrightcoveLiveAPIと通信してイベントをストリーミングします。再生権限と制限を管理する新しいシステムがLiveAPIの前に配置され、DRMライセンスDRMライセンスまたはAES-128（HLSe）暗号化を使用して再生許可を提供します。 </p>
    <p>ライブ ストリームの使用<a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/overview-playback-restrictions.html#Runtime_restrictions">ランタイムの制限</a>であるため、ストリーム リクエストには特定のアクセス許可 (クレーム) を持つ JSON Web トークン (JWT) が必要です。</p>
    <p>トークンは、ビデオがプレーヤーにロードされ、ソースが選択されると、ビデオライセンスを要求するときに使用されます。</p>
    <p>ライブストリームで再生制限を使用するには、Studio-gradeDRMまたはAES-128（HLSe）暗号化のいずれかでアカウントを有効にする必要があります。</p> <aside class="bcls-aside bcls-aside--information">HLSeコンテンツでは、接続性の向上のため、または最初のセグメントがロードされた後、プレーヤーがレンディションを変更すると、新しいライセンス要求が行われます。</aside>
    <p>この機能に慣れていない場合は、<a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/overview-playback-restrictions.html">概要：ブライトコーブの再生制限</a>資料。</p>  </section><section class="bcls-section">
    <h2 id="Requirements">要件</h2>
    <p>この機能は、お客様のアカウントの有料アドオンです。アカウントマネージャに問い合せて、次のことを有効にします。</p>
    <ul>
      <li>DRMまたはAES-128（HLSe）暗号化のいずれかのアカウントを有効にします。</li>
      <li>
        <p>再生権限(EPA)のアカウントを有効にします。</p> <aside class="bcls-aside bcls-aside--warning">現在、再生権限(EPA)のアカウントを有効にすると、ライブクリッピング機能に影響を与えます。</aside>
      </li>
    </ul>  </section><section class="bcls-section">
    <h2 id="Workflow">ワークフロー</h2>
    <p>ライブイベントで再生制限を使用する手順は、次のとおりです。</p>
    <ol class="bcls-tasklist">
      <li><a href="#Define_Playback_Rights">再生権限の定義</a></li>
      <li><a href="#Create_a_live_event_with_Playback_Restrictions">再生制限付きライブイベントの作成</a></li>
      <li><a href="#Publish_the_live_event">ライブイベントを公開する</a></li>
    </ol>
    <p>または、BrightcoveAPisを使用してライブイベントを作成し、再生制限を関連付けることもできます。詳細については、<a href="https://apis.support.brightcove.com/live-api/guides/live-playback-restrictions.html">ライブ ストリームでの再生制限</a>資料。</p>  </section><section class="bcls-section">
    <h2 id="Define_Playback_Rights">再生権限の定義</h2>
    <p>BrightcoveのPlaybackRightsManagementServiceでは、次の項目に基づいてビデオ再生を管理できます。</p>
    <ul>
      <li>地理学</li>
      <li>ドメイン</li>
      <li>プロキシー</li>
      <li>スケジュール日</li>
    </ul>
    <p>Studioで再生権限を定義する手順は次のとおりです。</p>
    <ol class="bcls-tasklist-restart">
      <li>の再生権の検証図を確認してください。<a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/implementing-playback-rights.html">再生権の実装</a>資料。</li>
      <li>Studio のプライマリ ナビゲーションで、<strong>管理者 &gt; 再生権</strong>. </li>
      <li>新しい権限を作成するには、<span class="button-blue">新しい再生権</span>. <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="再生権限の管理" src="/assets/images/s-live-img/live-module/playback-restrictions/manage-playback-rights.png" /> </figure>
      </li>
      <li>を追加<strong>再生権名</strong>そしてクリック<span class="button-blue">保存</span>.</li>
      <li>左側のナビゲーションで、各カテゴリを選択し、変更を編集します。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="再生権限の詳細" src="/assets/images/s-live-img/live-module/playback-restrictions/playback-rights-detail.png" /> </figure>
      </li>
      <li>クリック<span class="button-blue">保存</span>.</li>
      <li>再生権を編集するには、<strong>名前</strong>リンク。</li>
      {% if site.product_short==&quot;VideoCloud&quot;またはsite.product_short=="Beacon"またはsite.product_short=="CorpTV"%}
      <li>詳細については、<a href="/admin/managing-playback-rights.html">再生権の管理</a>資料。</li>
      {% endif%}{%if site.product_short==&quot;Live&quot;%}
      <li>詳細については、<a href="https://studio.support.brightcove.com/admin/managing-playback-rights.html">再生権の管理</a>資料。</li>
      {% endif %}
    </ol>  </section><section class="bcls-section">
    <h2 id="Create_a_live_event_with_Playback_Restrictions">再生制限付きライブイベントの作成</h2>
    <p>まず、<strong>ライブ</strong>モジュールを使用して、再生制限付きのライブ イベントを作成します。次に、定義済みの再生権をライブ イベントに関連付けます。<strong>メディア</strong>モジュールと、ライブ ジョブの作成中に生成されたビデオ ID。</p>
    <p>ライブイベントを作成するには、次の手順を実行します。</p>
    <ol class="bcls-tasklist-restart">
      <li>開く<strong>ライブ</strong>モジュール。</li>
      <li>から<strong>イベントの管理</strong>ページクリック<span class="button-blue">イベントを作成</span>.</li>
      <li>必要に応じてイベントデータを入力します。詳細については、<a href="creating-and-managing-live-events-using-live-module.html"> Live モジュールを使用したライブ イベントの作成と管理</a>資料。</li>
      <li>拡大する<strong>高度なオプション</strong>セクション。</li>
      <li>為に<strong>コンテンツの暗号化</strong>、いずれかを選択<strong>AES-128</strong>また<strong>デジタル著作権管理 (DRM)</strong> .
        <ul>
          <li><strong>AES-128</strong> - AES-128 暗号化を使用してライブ HLS 出力を保護します。このオプションを選択した場合は、<strong>暗号化キー</strong>.キーは、32個の16進数文字であることが必要です。最良の結果を得るには、<a href="https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx">キージェネレーター</a>、選択<code translate="No">128ビット</code>と<code translate="No">16 進数</code>オプション。暗号キー値はLiveモジュールにだけ入力され、エンコーダ設定の一部としては使用されません。 <aside class="bcls-aside bcls-aside--information">注:このオプションを使用する場合は、暗号化ストリームをBrightcoveに送信しないでください。通常どおりにエンコーダを設定します。このオプションを選択すると、BrightcoveLiveから送信されるHLS出力ストリームが暗号化されます。</aside> <aside class="bcls-aside bcls-aside--information">注:暗号化されたライブストリームからクリップを作成することはできません。</aside>
          </li>
          <li><strong>デジタル著作権管理 (DRM)</strong> - デジタル著作権管理テクノロジを使用して、プレミアム コンテンツ ストリームを保護します。 {% if site.product_short == &quot;Video Cloud&quot; or site.product_short == "Beacon" or site.product_short == "CorpTV" %}} 詳細については、<a href="/live/general/live-drm.html">ライブ DRM</a>資料。 {% endif %} {% if site.product_short == &quot;ライブ&quot; %} 詳細については、<a href="/general/live-drm.html">ライブ DRM</a>資料。 {% endif %}
            <ul>
              <li>HLS +<a href="https://developer.apple.com/streaming/fps/">フェアプレー</a></li>
              <li>HLS (FMP4) + Widevine モジュラー</li>
            </ul> <aside class="bcls-aside bcls-aside--information"> DRM を使用するには、まずBrightcoveサポートが Live アカウントを有効にする必要があります。DRM 対応イベントを公開するには、DRM 対応プレーヤー v6.37.1 以降を作成して使用する必要があります。</aside>
          </li>
        </ul>
      </li>
      <li>再生制限を使用するには、<strong>再生制限を有効にする</strong>.詳細については、<a href="https://apis.support.brightcove.com/playback-restrictions/getting-started/overview-playback-restrictions.html">概要：ブライトコーブの再生制限</a>資料。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="再生制限の有効化" src="/assets/images/s-live-img/live-module/playback-restrictions/enable-restrictions.png" /> </figure>
      </li>
      <li>その他のイベントの詳細を入力します。</li>
      <li>クリック<strong>イベントを作成</strong>.</li>
      <li>ライブで<strong>制御室</strong>、 クリック<strong>動画ID</strong>イベントに関連付けられています。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="イベントビデオID" src="/assets/images/s-live-img/live-module/playback-restrictions/event-video-id.png" /> </figure>
      </li>
      <li>にリダイレクトされます。<strong>メディア</strong>この動画 ID のモジュール。</li>
      <li>の中に<strong>再生制限</strong>セクションで、で定義した再生制限を選択します。<a href="#Define_playback_rights">再生権の定義</a>セクション。 <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="再生制限の割り当て" src="/assets/images/s-live-img/live-module/playback-restrictions/assign-playback-right.png" /> </figure>
      </li>
      <li>Adminモジュールでは、イベントに割り当てられた直後に再生を編集できます。</li>
      {% if site.product_short==&quot;VideoCloud&quot;またはsite.product_short=="Beacon"またはsite.product_short=="CorpTV"%}
      <li>ライブイベントのストリーミングを開始します。詳細については、<a href="/live/get-started/index.html">入門</a>インデックスページ。</li>
      {% endif%}{%if site.product_short==&quot;Live&quot;%}
      <li>ライブイベントのストリーミングを開始します。詳細については、<a href="/get-started/index.html">入門</a>インデックスページ。</li>
      {% endif %}
    </ol>  </section><section class="bcls-section">
    <h2 id="Publish_the_live_event">ライブイベントを公開する</h2>
    <p>再生制限付きライブストリームには、ストリーム要求に特定の権限（クレーム）を持つJSONWebToken（JWT）が必要です。</p>
    <p>再生制限付きライブストリームをパブリッシュする手順は、次のとおりです。</p>
    <ol class="bcls-tasklist-restart">
      <li>
        <p>JSONWebToken（JWT）を作成し、公開キーをBrightcoveに登録します。</p>
        <p>詳細については、<a href="https://general.support.brightcove.com/developer/create-json-web-token.html"> JSON Web トークン (JWT) の作成</a>資料。</p>
      </li>
      <li>Studio で、<strong>ライブ</strong>モジュール。</li>
      <li>左側のナビゲーションで、<strong>公開して埋め込む</strong>.</li>
      <li>の中に<strong>ライブ プレーヤーのオプション</strong>セクションで、前の手順で構成したプレーヤーを選択します。 </li>
      <li>
        <p>コピー<strong>高度な埋め込みコード</strong>HTML ページに貼り付けます。</p> <figure class="bcls-figure"> <img class="bcls-image--no-border" alt="プレーヤーの埋め込みコード" src="/assets/images/s-live-img/live-module/playback-restrictions/embed-code.png" /> </figure>
      </li>
      <li>高度な埋め込みコードを使用してカスタムスクリプトを作成します。
        <p>JWTトークンは再生要求とともに渡されます。トークンが無効または期限切れの場合、コンテンツへのアクセスは制限されます。プレイヤーは、トークンを使用するように構成する必要があります。</p>
        <p> Brightcove Web プレーヤーを設定するには、<a href="https://player.support.brightcove.com/playback/playback-restrictions-with-bcp.html#Using_Playback_Rights"> Brightcove Player での再生制限</a>資料。 </p>
      </li>
      <li>Webページで再生を確認します。</li>
      <li>ビデオ（ライブイベント）に割り当てられたPlaybackRightの設定を変更して、再生をブロックできることを確認します。</li>
    </ol>   </section></article>