<article class="bcls-article">
  <h1>ステップバイステップ:Secure Reliable Transport（SRT）ライブイベントのストリーミング</h1> <summary>このクイック スタートの目的は、Live モジュールと Open Broadcaster Software (OBS) を使用して SRT ライブ イベントをブロードキャストする方法を示すことです。</summary> <section class="bcls-section"> {% if site.product_short == &quot;Video Cloud&quot; or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
    <p>Live モジュールで使用できるすべての機能については、次を参照してください。<a href="/live/live-module/creating-and-managing-live-events-using-live-module.html"> Live モジュールを使用したライブ イベントの作成と管理</a>.高品質で安定したライブ ストリーミング エクスペリエンスを確保するための一連のベスト プラクティスと推奨事項については、次を参照してください。<a href="/live/get-started/live-module-guidelines-and-best-practices.html">ライブ モジュールのガイドラインとベスト プラクティス</a>.ライブ ストリーミング ビデオを配信するために Brightcove から利用できるすべてのオプションのリストについては、次を参照してください。<a href="/live/get-started/delivering-live-streams.html">ライブ ストリームの配信</a>.</p>
      {% endif%}{%if site.product_short==&quot;Live&quot;%}
          <p>Live モジュールで使用できるすべての機能については、次を参照してください。<a href="/live-module/creating-and-managing-live-events-using-live-module.html"> Live モジュールを使用したライブ イベントの作成と管理</a>.高品質で安定したライブ ストリーミング エクスペリエンスを確保するための一連のベスト プラクティスと推奨事項については、次を参照してください。<a href="/get-started/live-module-guidelines-and-best-practices.html">ライブ モジュールのガイドラインとベスト プラクティス</a>.ライブ ストリーミング ビデオを配信するために Brightcove から利用できるすべてのオプションのリストについては、次を参照してください。<a href="/get-started/delivering-live-streams.html">ライブ ストリームの配信</a>.</p>
      {% endif %}<aside class="bcls-aside bcls-aside--information">ノート：ライブストリーミングのサポートは、Enterpriseパブリッシャーでのみ利用できます。</aside>
    <p>このクイックスタートを完了すると、次の事項ができるようになります。</p>
    <ul>
      <li>Liveモジュールを使用してSRTライブイベントを作成します。</li>
      <li>SRTライブイベント用にエンコーダーを構成します</li>
      <li>イベントをトリミングし、VODアセットとしてアカウントに保存します。</li>
    </ul>
    <p>このクイックスタートは、Open Broadcaster Software (OBS) Studio を使用して、ライブイベントをさまざまなデバイスにブロードキャストするのに役立ちます。OBS は、ビデオ録画およびライブ ストリーミング用のオープン ソース ソフトウェアであり、<a href="https://obsproject.com">ここからダウンロード</a>.Liveモジュールでは他のエンコーダーも使用できます。</p>  </section><section class="bcls-section">
    <h2 id="audience">Audience</h2>
    <p>ライブモジュールを使用してライブストリーミングイベントをブロードキャストする必要があるパブリッシャ。</p>  </section><section class="bcls-section">
    <h2 id="prereq">前提条件</h2>
    <ul>
      <li>LiveモジュールにアクセスできるEnterpriseアカウント</li>
      <li>イベントを放送するためのカメラ</li>
      <li>独自のエンコード ソフトウェアが必要です。このクイックスタートは<a href="https://obsproject.com">OBSスタジオ</a>無料でダウンロードできます</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="limitations">制約事項</h2>
    <ul>
      <li>エンコーダは RTMP または SRT ストリームを出力する必要があります</li>
      <li>ライブ放送では20～30秒の遅延が発生します。</li>
      <li>ストリーミングは、イベント開始から 30 分以内に開始する必要があります (既定のアカウント設定)</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="steps">ライブイベントをブロードキャストする手順</h2>
    <p>Liveモジュールを使用してライブイベントをストリーミングするには、次の手順を行う必要があります。</p>
    <ul>
      <li><a href="#newevent">Liveモジュールを使用した新しいイベントの作成</a></li>
      <li><a href="#encoder">エンコーダーを設定する</a></li>
      <li><a href="#publish">ライブストリームを公開する</a></li>
      <li><a href="#clip">ライブイベントからクリップを作成する</a></li>
    </ul>  </section><section class="bcls-section">
    <h2 id="newevent">新しいライブイベントを作成する</h2>
    <ol class="bcls-tasklist-restart">
      <li>Studioにログインします。<strong></strong></li>
      <li>開く<strong>ライブ</strong>モジュール。</li>
      <li>クリック<span class="button-blue">イベントを作成</span>新しいイベントを作成します。</li>
      <li>を入力します<strong>イベント名</strong>.</li>
      <li>いくつか入力してください<strong>タグ</strong>イベントのために。</li>
      <li>アカウントに必須のカスタムフィールドが設定されている場合は、カスタムフィールドに値が割り当てられていることを確認してください。</li>
      <li>を選択<strong>ライブ取り込みプロファイル</strong>ドロップダウンリストから。ライブ取り込みプロファイルは、作成されるライブレンディションの数と品質を制御します。</li>
      <li>選択する<strong>完了時にイベントをビデオ アセットに変換する</strong>.これにより、イベントがビデオとして Media モジュールに保存されます。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-create-live-event.png" /></figure>
      </li>
      <li>を選択<strong>領域</strong>あなたの場所に最も近い。</li>
      <li>クリック<strong>高度なオプション</strong>リンクをクリックして詳細オプションを展開します。</li>
      <li>をセットする<strong>再接続時間</strong>から 10 分 (デフォルト)。 </li>
      <li>のために<strong>入力フォーマット</strong>、 選択する<strong>セキュア リライアブル トランスポート (SRT)</strong> .</li>
      <li>の中に<strong>CIDR ホワイトリスト</strong>セクションで、SRT エンドポイントへの接続を許可する一連の IP アドレスを入力します。これは、SRTエンドポイントに接続できるユーザーを制御します。このオプションは、<strong>入力フォーマット</strong>RTPまたはSRTです。指定できます<code translate="No">0.0.0.0/0</code>すべてのネットワークを許可します。特定の IP アドレスを許可するには、次を使用します。<code translate="No"> {IPアドレス}/32</code> （例：255.160.10.1/32). <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-adv-options.png" /></figure>
      </li>
      <li>クリック<strong>ストリーミングを開始</strong>.Live モジュールは<strong>ストリーム エンドポイント (SRT URL)</strong> .SRTURLはエンコーダ設定で使用されます。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-encoder-settings.png" /></figure>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="encoder">エンコーダの設定</h2>
    <p>このセクションでは、OBS Studio エンコーダを構成し、ライブストリーミングイベントをサポートします。OBS Studio ソフトウェアは、カメラからの入力をキャプチャし、CDN によって配信できるストリームを生成するデスクトップアプリケーションです。ハードウェアベースおよび他のソフトウェアベースのエンコーディングソリューションには、ご利用のライブストリーミングイベントの配信に、より適したものが存在する可能性があります。OBS Studio ソフトウェアをダウンロードできます<a href="https://obsproject.com">ここ</a>.</p> <aside class="bcls-aside bcls-aside--information">注:続行する前に、OBS ソフトウェアをインストールし、カメラをコンピューターに接続する必要があります。</aside> <aside class="bcls-aside bcls-aside--information">ノート：この例では、CanonEOSWebcamUtilityソフトウェアを使用してノートパソコンに接続されたCanonカメラを使用しています。</aside> <aside class="bcls-aside bcls-aside--information">注:OBS には、ストリームのローカルコピーを記録する機能があります。これを選択すると、イベントのブロードキャスト中にネットワークの問題が発生した場合に備えて、ストリームのローカルコピーが作成され、そこからクリップを作成できます。ローカル ファイルを記録する方法については、<a href="https://obsproject.com/docs/index.html"> OBS ドキュメント</a>.</aside>
    <ol class="bcls-tasklist-restart">
      <li>OBSスタジオを開きます。</li>
      <li>の中に<strong>ソース</strong>セクション、クリック<strong>+</strong>新しいソースを追加します。を選択<strong>ソース</strong>リストから。このクイック スタートでは、ビデオ キャプチャにカメラを使用しているため、<strong>ビデオ キャプチャ デバイス</strong>が選択されます。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-add-source.png" /></figure>
      </li>
      <li>新しいソースの名前を入力し、<strong>わかった</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-source-name.png" /></figure>
      </li>
      <li>からカメラを選択します。<strong>デバイス</strong>リスト。プロパティダイアログにプレビューが表示されます。クリック<strong>わかった</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-source-preview.png" /></figure>
      </li>
      <li>[コントロール] セクションで、<strong>設定</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-settings.png" /></figure>
      </li>
      <li>クリック<strong>ストリーム</strong>設定ダイアログの左側にあります。</li>
      <li>ストリーム用<strong>サービス</strong>選択する<strong>カスタム...</strong> .</li>
      <li>為に<strong>サーバ</strong>、 使用<strong>SRT URL</strong> Live モジュールによって提供されます。</li>
      <li>のために<strong>ストリームキー</strong>、空のままにします。</li>
      <li>クリック<strong>わかった</strong>設定を保存します。</li>
      <li>の中に<strong>コントロール</strong>セクション、クリック<strong>ストリーミングを開始</strong>.ライブストリームが始まるはずです。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-live-stream.png" /></figure>
      </li>
    </ol> <aside class="bcls-aside bcls-aside--information">注:ストリーム処理の所要時間は約1分間です。</aside> </section> <section class="bcls-section">
    <h2 id="publish">ライブイベントの公開</h2>
    <p>ライブイベントの埋め込みコードを生成するには、次の手順に従います。</p>
    <ol class="bcls-tasklist-restart">
      <li>ライブモジュールに戻ります。</li>
      <li>イベントのコントロール ルーム ページが表示されない場合は、<strong>ライブ</strong>タブをクリックして、ライブ イベントのリストを表示します。イベント名をクリックして、制御室ページ。</li>
      <li>ライブストリームを視聴できるかを確認します。エンコーダの起動後、ライブストリームが表示されるまでに1分かかる場合があります。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-control-room.png" /></figure>
      </li>
      <li>ライブ イベントを公開するには、<strong>公開して埋め込む</strong>左のナビゲーションにあります。</li>
      <li>を使用してプレーヤーを選択します。<strong>利用可能なプレーヤー</strong>落ちる。</li>
      <li>クリック<strong>プレーヤーの URL</strong>ライブ ストリームを表示します。 </li>
      <li> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-publish.png" /></figure>
      </li>
      <li>ライブ ストリームが終了したら、<strong>ストリームを停止</strong>ボタンをクリックします。また、OBS Studio に戻り、ストリームボタンをクリックして、エンコーダのストリーミングを停止します。 <aside class="bcls-aside bcls-aside--information">注:ライブストリームの完了後、エンコーダーを閉じる/停止することが重要です。エンコーダーとBrightcoveとの間の接続を開いたままにしておくと、データが送信されていなくても、予期しない接続料が発生する場合があります。</aside>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="clip">クリップの作成</h2>
    <p>ライブモジュールは、完了したイベントからビデオクリップを作成する機能を提供します。ライブイベントの進行中にクリップを作成することもできます。クリップを作成したい理由はいくつかあります。</p>
    <ul>
      <li>ソーシャルメディアに投稿できる短いティーザークリップを作成するには</li>
      <li>投稿する動画の長さを制限するには（ほとんどのプラットフォームでは動画の長さが制限されています）</li>
      <li>ソーシャルメディアで短い動画のパフォーマンスが向上することがわかりました</li>
    </ul>
    <p>クリップは、イベント終了から7日以内にしか作成できません。その後、<strong>クリップを作成</strong>ボタンが無効になります。イベントが 24 時間よりも長い場合は、最後の 24 時間だけがクリップ可能です。</p> <aside class="bcls-aside bcls-aside--information">注:クリッピング インターフェイスの使用の詳細については、次を参照してください。<a href="/live-module/creating-video-clip-using-live-module.html"> Live モジュールを使用してビデオ クリップを作成する</a>.</aside>
    <p>クリップを作成するには、次の手順に従います。</p>
    <ol class="bcls-tasklist-restart">
      <li>ライブモジュールに戻ります。</li>
      <li>クリック<strong>完了</strong>タブ。</li>
      <li>イベントを検索し、イベント名をクリックして Control Room を開きます。</li>
      <li>クリック<strong>クリップを作成</strong>.クリッピングエディタが開きます。</li>
      <li>フォーカスタイムラインのクリップハンドルをクリックしてドラッグし、クリップの開始点と終了点を設定します。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-clip-selected.png" /></figure>
      </li>
      <li>クリック<strong>プレビュー クリップ</strong>クリップをプレビューします。必要に応じて、始点と終点を調整できます。</li>
      <li>クリック<strong>クリップを保存</strong>.</li>
      <li>入力します<strong>クリップ名</strong>およびその他のメタデータ値。アカウントの必須フィールドも表示され、値を割り当てる必要があります。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-clip-save.png" /></figure>
      </li>
      <li>クリック<strong>クリップを作成</strong>.摂取プロセスが開始され、クリップがアカウントに保存されます。</li>
      <li>クリップはクリップエディタの下に表示されます。クリック<strong>ソーシャルに公開</strong>Brightcove Social を使用して、クリップをあなたのソーシャル デスティネーションの 1 つに公開します。Social モジュールを使用してビデオを公開する方法については、次を参照してください。<a href="https://studio.support.brightcove.com/social/publishing-videos-social-media-platforms.html">動画をソーシャル メディア プラットフォームに公開する</a>.</li>
      <li>クリック<strong>制御室に戻る:完了</strong>ブレッドクラム。すべてのクリップは、イベントのコントロールルームにも表示されます。 <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-srt-clips-control-room.png" /></figure> <aside class="bcls-aside bcls-aside--information">注:[クリップの作成]ボタンを数回クリックして、複数の放送クリップを作成することができます。これにより、各クリップを個別のVODアセットとしてメディアライブラリーに保存し、各放送用に何回でもトリミングして保存することができます。</aside>
      </li>
    </ol>  </section><section class="bcls-section">
    <h2 id="troubleshoot">ライブストリームの問題をトラブルシューティングする</h2>
    <p>ライブ イベントを機能させるためにさらにサポートが必要な場合は、<a href="https://supportportal.brightcove.com/">お問い合わせ</a>.なるべく早くご返信できるようにするため、サポートチームが問題解決に必要な情報のリストを以下に示します。</p>
    <ul>
      <li>ストリームに見受けられる特定の兆候。たとえば、一部が再生できない、スムーズに再生できないなど</li>
      <li>問題のストリームが過去に正しく機能していたか</li>
      <li>エンコーダーで使用しているエントリーポイントURL</li>
      <li>使用しているエンコーディングソフトウェアおよびハードウェア</li>
      <li>ライブイベントを公開したプレーヤーのURL</li>
      <li>ライブアセットのビデオID</li>
      <li>エンコーダーから公開ポイントホストへのルートトラッキングの結果</li>
    </ul>   </section></article>