<article class="bcls-article">
  <h1>Step-by-Step: Using the Live Module with Open Broadcaster Software (OBS)</h1>
  <summary>The purpose of this Quick Start is to show you how to use the Live module and Open Broadcaster Software (OBS) to broadcast a live event.</summary>
  <section class="bcls-section">
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="5810369213001">&nbsp;</div>
    <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script>
    {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
    <p>To learn about all of the features and functionality available in the Live module, see <a href="/live/live-module/creating-and-managing-live-events-using-live-module.html">Creating and Managing Live Events using the Live Module</a>. For a series of best practices and recommendations to help ensure a high quality, stable live streaming experience, see <a href="/live/get-started/live-module-guidelines-and-best-practices.html">Live Module Guidelines and Best Practices</a>. For a list of all the options available from Brightcove for delivering live streaming video, see <a href="/live/get-started/delivering-live-streams.html">Delivering Live Streams</a>.</p>
      {% endif %}
      {% if site.product_short == "Live" %}
          <p>To learn about all of the features and functionality available in the Live module, see <a href="/live-module/creating-and-managing-live-events-using-live-module.html">Creating and Managing Live Events using the Live Module</a>. For a series of best practices and recommendations to help ensure a high quality, stable live streaming experience, see <a href="/get-started/live-module-guidelines-and-best-practices.html">Live Module Guidelines and Best Practices</a>. For a list of all the options available from Brightcove for delivering live streaming video, see <a href="/get-started/delivering-live-streams.html">Delivering Live Streams</a>.</p>
      {% endif %}
    <aside class="bcls-aside bcls-aside--information">Notes:
      <ul>
        <li>For a version of this document that uses the Telestream Wirecast encoder, see <a href="step-step-using-live-module-telestream-wirecast.html">Step-by-Step: Using the Live Module with Telestream Wirecast</a></li>
        <li>Live streaming support is available only for Enterprise publishers</li>
      </ul>
    </aside>
    <p>After completing this Quick Start, you should be able to:</p>
    <ul>
      <li>Use the Live module to create a live event</li>
      <li>Configure your encoder for a live event</li>
      <li>Trim your event and save it as a VOD asset in your account</li>
    </ul>
    <p>This Quick Start will help you broadcast a live event to different devices using Open Broadcaster Software (OBS) Studio. OBS is open source software for video recording and live streaming and can be <a href="https://obsproject.com">downloaded here</a>. Other encoders can also be used with the Live module.</p>
  </section>
  <section class="bcls-section">
    <h2 id="audience">Audience</h2>
    <p>Any publisher who needs to broadcast a live streaming event using the Live module.</p>
  </section>
  <section class="bcls-section">
    <h2 id="prereq">Prerequisites</h2>
    <ul>
      <li>An Enterprise account with access to the Live module</li>
      <li>A camera to broadcast the event</li>
      <li>You must have your own encoding software; this Quick Start uses <a href="https://obsproject.com">OBS Studio</a> which can be downloaded for free</li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="limitations">Limitations</h2>
    <ul>
      <li>Your encoder must output an RTMP or SRT stream</li>
      <li>Live broadcasts will experience a 20-30 second delay</li>
      <li>Streaming must begin within 30 minutes of the event start (default-level account setting)</li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="steps">Steps to broadcast a live event</h2>
    <p>To stream your live event using the Live module, you will complete the following tasks:</p>
    <ul>
      <li><a href="#newevent">Create a new event using the Live module</a></li>
      <li><a href="#encoder">Configure your encoder</a></li>
      <li><a href="#publish">Publish the live stream</a></li>
      <li><a href="#clip">Create a clip from the live event</a></li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="newevent">Creating a new live event</h2>
    <ol class="bcls-tasklist-restart">
      <li>Login to Studio.<strong></strong></li>
      <li>Open the <strong>Live</strong> module.</li>
      <li>Click the <strong>Create Event</strong> button to create a new event.</li>
      <li>Enter an <strong>Event Name</strong>.</li>
      <li>Enter some <strong>Tags</strong> for the event.</li>
      <li>If your account has been configured with required custom fields, make sure the custom fields are assigned values.</li>
      <li>Select a <strong>Live Ingest Profile</strong> from the dropdown list. The live ingest profile controls the number and quality of live renditions that are created.</li>
      <li>Select <strong>Convert event to video asset when complete</strong>. This will save the event as a video in the Media module.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-create-live-event.png" /></figure>
      </li>
      <li>In the <strong>Stream Options</strong> section, select the <strong>Region</strong> closest to your location.</li>
      <li>In the <strong>Advanced Options</strong> section, set the <strong>Reconnect Time</strong> to 10 minutes.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-adv-options.png" /></figure>
        <aside class="bcls-aside bcls-aside--information">Note: OBS   supports the SRT protocol and it can be selected using the <strong>Input Format</strong> section of the <strong>Advanced Options</strong> menu.</aside>
      </li>
      <li>Click <strong>Create Event</strong>. The Live module will return a <strong>Stream Endpoint (RTMP URL) </strong> and <strong>Stream Name</strong>. These values will be used in the encoder settings.
        <aside class="bcls-aside bcls-aside--information">Note: If you selected the SRT protocol for the Live event, this will be available in OBS by choosing "Custom" under Stream settings Service, then entering your <code translate="No">srt://</code> path into the Server box.</aside>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-encoder-settings.png" /></figure>
      </li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="encoder">Configuring your encoder</h2>
    <p>In this section, we will configure and use the OBS Studio encoder to support a live streaming event. OBS Studio software is a desktop application that captures input from your camera and produces a stream that can be delivered by a CDN. Note that there are hardware and other software based encoding solutions available that may be better suited for delivering your live streaming event. You can download the OBS Studio software <a href="https://obsproject.com">here</a>.</p>
    <aside class="bcls-aside bcls-aside--information"> Notes:
      <ul>
        <li> You should have the OBS software installed and a camera connected to your computer before proceeding</li>
        <li>This example uses a Canon camera connected to a laptop using the Canon EOS Webcam Utility software</li>
        <li>OBS offers the ability to record a local copy of the stream. By choosing to do this, you will have a local copy of the stream that you can create clips from in case any networking issues occur during the broadcast of the event. For information on how to record a local file, see the <a href="https://obsproject.com/docs/index.html">OBS documentation</a>.</li>
      </ul>
    </aside>
    <ol class="bcls-tasklist-restart">
      <li>Open OBS Studio.</li>
      <li>In the <strong>Sources</strong> section, click <strong>+</strong> to add a new source. Select a <strong>Source</strong> from the list. This Quick Start is using a camera for video capture so <strong>Video Capture Device</strong> is selected.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-add-source.png" /></figure>
      </li>
      <li>Enter a name for the new source and click <strong>OK</strong>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-source-name.png" /></figure>
      </li>
      <li>Select your camera from the <strong>Device</strong> list. A preview should appear in the properties dialog. Click <strong>OK</strong>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-source-preview.png" /></figure>
      </li>
      <li>In the <strong>Controls</strong> section, click <strong>Settings</strong>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-settings.png" /></figure>
      </li>
      <li>Click <strong>Stream</strong> in the left side of the Settings dialog.</li>
      <li>For the Stream<strong> Service</strong> select <strong>Custom...</strong>.</li>
      <li>For the <strong>Server</strong>, use the <strong>Stream URL</strong> provided by the Live module.</li>
      <li>For the <strong>Stream Key</strong>, use <strong>alive</strong>.</li>
      <li>Click <strong>OK</strong> to save the settings.</li>
      <li>In the <strong>Controls</strong> section, click <strong>Start Streaming</strong>. The live stream should begin.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-live-stream.png" /></figure>
      </li>
    </ol>
    <aside class="bcls-aside bcls-aside--information">Note: It will take about a minute to process your streams.</aside>
  </section>
  <section class="bcls-section">
    <h2 id="publish">Publishing the live event</h2>
    <p>To generate the embed code for the live event, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Return to the Live module.</li>
      <li>If the Control Room page for the event is not displayed, click the <strong>Live</strong> tab to display a list of live events. Click on the event name to open the Control Room page.</li>
      <li>Confirm that you can see the live stream. Note that after starting the encoder, it may take a minute for the live stream to appear.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-control-room.png" /></figure>
      </li>
      <li>To publish the live event, click <strong>Publish and Embed</strong> in the left navigation.</li>
      <li>Select a player using the <strong>Available Player</strong> dropdown.</li>
      <li>Click the <strong>Player URL</strong> to view the live stream.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-publish.png" /></figure>
      </li>
      <li>When you are done with the live stream, click the <strong>Stop This Stream</strong> button on the Control Room page. Also, return to OBS Studio and click the <strong>Stop Streaming</strong> button to stop the encoder from streaming.
        <aside class="bcls-aside bcls-aside--information">Note: It is important to make sure you close/stop your encoder when the live stream is complete. Leaving a connection open between any encoder and Brightcove, even when no data is being sent, may result in unexpected connection charges.</aside>
      </li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="clip">Creating a clip</h2>
    <p>The Live module provides the ability to create video clips from completed events. Clips can also be created while a live event is in progress. There are several reasons you might want to create a clip:</p>
    <ul>
      <li>To create a short, teaser clip that can be posted to social media</li>
      <li>To limit the length of a video that you want to post (most platforms limit the length of videos)</li>
      <li>You have found that shorter videos perform better on social media</li>
    </ul>
    <p>Clips can only be created within 7 days of the event end. Afterwards, the <strong>Create Clip</strong> button will be disabled. If the event is longer than 24 hours, only the last 24 hours are clippable.</p>
{% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}
    <aside class="bcls-aside bcls-aside--information">Note: For complete details on using the clipping interface, see <a href="/live/live-module/creating-video-clip-using-live-module.html">Creating a Video Clip Using the Live Module</a>.</aside>
      {% endif %}
     {% if site.product_short == "Live" %} 
          <aside class="bcls-aside bcls-aside--information">Note: For complete details on using the clipping interface, see <a href="/live-module/creating-video-clip-using-live-module.html">Creating a Video Clip Using the Live Module</a>.</aside>
      {% endif %}
    <p>To create a clip, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Return to the Live module.</li>
      <li>Click the <strong>Completed</strong> tab.</li>
      <li>Locate the event and click the event name to open the Control Room.</li>
      <li>In the left navigation, click <strong>Create Clip</strong>. The clipping editor will open.</li>
      <li>Click and drag the clipping handles on the focus timeline to set the start and end points for the clip.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-clip-selected.png" /></figure>
      </li>
      <li>Click <strong>Preview Clip</strong> to preview the clip. The start and end points can be adjusted as needed.</li>
      <li>Click <strong>Save</strong>.</li>
      <li>Enter a <strong>Clip Name</strong> and other metadata values. Any required fields for the account will also appear and should be assigned values.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-clip-save.png" /></figure>
      </li>
      <li>Click <strong>Create Clip</strong>. The ingestion process will begin and the clip will be saved to your account.</li>
      <li>Clips will appear below the clip editor. Click <strong>Publish to Social</strong> to publish the clip to one of your social destinations using Brightcove Social. For information on publishing videos using the Social module, see 
        {% if site.product_short == "Video Cloud" or site.product_short == "Beacon" or site.product_short == "CorpTV" %}  
          <a href="/social/publishing-videos-social-media-platforms.html">Publishing Videos to Social Media Platforms</a>.
          {% endif %}
          {% if site.product_short == "Live" %}
        <a href="https://studio.support.brightcove.com/social/publishing-videos-social-media-platforms.html">Publishing Videos to Social Media Platforms</a>.
        {% endif %}
        </li>
    </ol>
    <p>Clips will also appear in the Control Room for the event.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-live-img/get-started/sbs-obs-clips-control-room.png" /></figure>
    <aside class="bcls-aside bcls-aside--information">Note: You can click the <strong>Create Clip</strong> button multiple times to create multiple clips of your broadcast. Each clip is saved as separate VOD asset in  Media module.</aside>
  </section>
  <section class="bcls-section">
    <h2 id="troubleshoot">Troubleshooting live stream issues</h2>
    <p>If you need further help getting your live event to work, you can <a href="https://supportportal.brightcove.com/">contact us</a>. To make sure you get the fastest response possible, below is a list of what support will need to solve the problem.</p>
    <ul>
      <li>The specific symptoms the stream is having. For example, does it not play at all or does it stutter or freeze?</li>
      <li>Whether this stream worked correctly in the past</li>
      <li>The entry point URL you are using in your encoder</li>
      <li>The encoding software and hardware are you using</li>
      <li>The URL to the player to which you have published the live event</li>
      <li>The video ID of your live asset</li>
      <li>The results of a trace-route from your encoder to the publishing point host</li>
    </ul>
  </section>
</article>
